/* 基础样式重置 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--tml-text-color-primary);
  background-color: var(--tml-bg-color);
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* 通用类 */
.tml-transition {
  transition: all 0.3s ease;
}
